.card {
  padding: 10px 12px;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  width: 280px;
}

.title {
  cursor: pointer;
  transition: 0.25s all ease;
  &:hover {
    color: rgb(31, 137, 223);
    text-decoration: underline;
  }
}

.content {
  line-height: 26px;
}
