.main {
  padding: 2% 3%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
}

.subtitle {
  margin-top: 2vh;
  font-weight: 600;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4vh 3vw;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin: 3vh 0;
}

.comment {
  padding: 12px 14px;
  border-radius: 4px;
  border: .25px solid rgb(141, 148, 155);
  background-color: rgb(228, 232, 238);
  line-height: 22px;
  font-size: 0.85rem;
}